<!doctype html>
<html>
    <head>
        <title>Dan ♡ Iris</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootflat.min.css">
        <link rel="stylesheet" href="/static/css/sweetalert.css">
        <style>
            .clone {
                display: none;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12 col-md-6">
                    <div class="input-group has-primary">
                        <select id="start" class="form-control">
                            {% for opt in opts %}
                            <option value="{{opt}}"></option>
                            {% endfor %}
                        </select>
                        <span class="input-group-addon">→</span>
                        <select id="end" class="form-control">
                            {% for opt in opts %}
                            <option value="{{opt}}"></option>
                            {% endfor %}
                            <option value="1320" selected></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-9 col-md-4">
                    <div class="btn-group">
                        <button id="qry0" class="btn btn-primary" data-date="{{date}}">Dan 查询</button>
                        <button id="qry1" class="btn btn-primary" data-date="{{date}}">Iris 查询</button>
                        <button id="qry2" class="btn btn-primary" data-date="{{date}}">双座查询</button>
                    </div>
                </div>
                <div class="col-xs-3 col-md-2">
                    <span class="badge badge-warning" style="margin-top: 6px; display: none">载入中</span>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-info">
                        <table class="table">
                            <tbody id="bookedtb">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-info">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>场馆</th>
                                    <th>座号</th>
                                    <th>时间</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="querytb">
                                <tr class="clone" data-start data-end data-id1 data-id2>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn btn-info btn-xs btn-block">预约</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">预约成功</h4>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">确认</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Bootstrap -->
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/sweetalert.min.js"></script>
        <script>
            function calctime(val) {
                var hour = parseInt(val / 60);
                var minute = val % 60;
                if(minute == 0)
                    return hour + ":00"
                else
                    return hour + ":30";
            }
            function check_booked() {
                $.post(
                    "/check_booked",
                    {},
                    function(data) {
                        $("#bookedtb").empty();
                        $.each(data, function(i, item) {
                            var s = "<tr><td><strong>" + item.name + "</strong>&nbsp;&nbsp;&nbsp;&nbsp;<span>" + item.time;
                            s += "</span><button data-link='" + item.link + "' class='btn btn-danger btn-xs pull-right'>撤销</button>";
                            s += "<br /><span>" + item.pos + "</span></td></tr>";
                            $("#bookedtb").append(s);
                        });
                        $(".btn-danger").on("click", function() {
                            var link = $(this).data("link");
                            var td = $(this).parents("td");
                            swal({
                                title: "撤销预约确认",
                                text: td.find("strong").text() + "<br />" + td.find("span").eq(0).text() + "<br />" + td.find("span").eq(1).text(),
                                type: "warning",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true,
                                confirmButtonText: "确认",
                                cancelButtonText: "取消",
                                html: true
                            },
                            function() {
                                $.post(
                                    "/cancel_booked",
                                    {link: link},
                                    function(data) {
                                        if(data.msg == 'ok') {
                                            swal({
                                                title: "撤销成功",
                                                type: "success"
                                            });
                                            td.parent().fadeOut();
                                        }
                                        else
                                            swal({
                                                title: "撤销失败",
                                                type: "error"
                                            });
                                    }
                                );
                            });
                        });
                    }
                );
            }
            $(document).ready(function() {
                $("option").each(function() {
                    $(this).text(calctime($(this).val()));
                });
                $("#start").on("change", function() {
                    $("#end").children().show();
                    $("#end").children().each(function() {
                        if($(this).val() <= $("#start").val())
                            $(this).hide();
                    });
                });
                $("[id^='qry']").on("click", function() {
                    var _this = $(this);
                    var usr = _this.attr("id").substr(3);
                    $(".badge").fadeIn();
                    $.post(
                        "/query",
                        {
                            date: _this.data("date"),
                            start: $("#start").val(),
                            end: $("#end").val(),
                            usr: usr
                        },
                        function(data) {
                            $("#querytb").children().not(".clone").remove();
                            $.each(data, function(i, item) {
                                var span0 = calctime(item.span[0]);
                                var span1 = calctime(item.span[1]);
                                var tr = $("tr.clone").clone();
                                tr.children("td").eq(0).text(item.pos);
                                if(item.seat[0] == item.seat[1])
                                    tr.children("td").eq(1).text(item.seat[0])
                                else
                                    tr.children("td").eq(1).text(item.seat[0] + '/' + item.seat[1]);
                                tr.children("td").eq(2).text(span0 + ' - ' + span1);
                                tr.data("start", item.span[0]);
                                tr.data("end", item.span[1]);
                                tr.data("id0", item.id[0]);
                                tr.data("id1", item.id[1]);
                                tr.removeClass("clone").appendTo("#querytb");
                            });
                            $("button.btn-info").on("click", function() {
                                var tr = $(this).parents("tr");
                                var msg = "";
                                for(var i = 0; i < 3; i ++)
                                    msg += tr.children("td").eq(i).text() + '<br />';
                                swal({
                                    title: "预约信息确认",
                                    text: msg,
                                    type: "warning",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    showLoaderOnConfirm: true,
                                    confirmButtonText: "确认",
                                    cancelButtonText: "取消",
                                    html: true
                                },
                                function () {
                                    $.post(
                                        "/book",
                                        {
                                            start: tr.data("start"),
                                            end: tr.data("end"),
                                            id0: tr.data("id0"),
                                            id1: tr.data("id1"),
                                            date: $("#qry2").data("date"),
                                            usr: usr
                                        },
                                        function(data) {
                                            if(data.msg == "ok") {
                                                swal({
                                                    title: "预约成功",
                                                    text: msg,
                                                    type: "success",
                                                    html: true
                                                });
                                                check_booked();
                                            }
                                            else
                                                swal("预约失败", "座位被占", "error");
                                        }
                                    );
                                });
                            });
                        }
                    );
                    $(".badge").fadeOut();
                });
                check_booked();
            });
        </script>
    </body>
</html>
